@media (min-width: 768px) {

  .title{
    font-size: 2.813rem;
  }

  .section {
    padding: 8rem 0;
  }

  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-bar {
    gap: 1rem;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: static;
    width: auto;
    height: 0;
    left: 0;
  }

  .nav-link {
    font-family: var(--body-font);
  }
  .nav-menu a.nav-link{
    position: relative;
  }
 

  .icon-menu {
    display: none;
  }

  /*HOME*/

  .inicio .grid {
    grid-auto-flow: column;
    margin: 0 auto;
    width: space-between;
    align-items: center;
  }

  .inicio .text {
    order: 0;
    text-align: left;
    max-width: 24rem;
  }

  .inicio .image {
    order: 1;
  }

  .inicio p.subtitle.color-white{
    text-align: left;
    font-size: 1.25rem;
  }
  /*TERAPIA*/

  .terapia .container {
    margin-left: auto;
    margin-right: auto;
  }

  .terapia .terapia-detaque {
    top: -160px;
  }




  .terapia .terapia-detaque .text {
    max-width: 20rem;
  }

  .terapia .container-multi .grid {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .image-universo,
  .img-universo {
    grid-column: 2 / 3;
  }

  .container-multi .text {
    grid-column: 1 / 2;
    max-width: 60rem;
  }

  .terapia .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    row-gap: 3rem;
  }

  .card {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  /*SOBRE*/

  .sobre .container {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .container-relative {
    grid-column: 1/2;
    grid-row: 1/2
  }

  .perfil-descricao {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  /*DEPOIMENTOS*/

  .depoimentos .container {
    margin-left: auto;
    margin-right: auto;
  }

  /*DUVIDAS*/

  .duvidas .container-perguntas {
    margin: 0 auto;
  }

  


/* CONTATO*/

.contato .text .subtitle{
  max-width: 26rem;
}

}